In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [11]:
import pandas as pd
import numpy as np
from sklearn.ensemble import GradientBoostingRegressor as GBR
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import datetime

In [3]:
price_train = pd.read_csv("C:/Users/Полина/Downloads/pricing_hackathon-20211210T173728Z-001/pricing_hackathon/pricing_hackathon_prices_train.csv")
price_train.head()

,20180212,ed5fc9493b475813203e1c2497a11f6f,a9e11060ef4cb84b377898ecd0f17fd4,Unnamed: 3,14.630,0.000,13.890
0,20200813,ed5fc9493b475813203e1c2497a11f6f,a9e11060ef4cb84b377898ecd0f17fd4,NaN,19.89,0.00,18.89
1,20191111,ed5fc9493b475813203e1c2497a11f6f,6278f48a43fb0a23036b3a11c92e726c,NaN,56.79,0.00,53.89
2,20180301,ed5fc9493b475813203e1c2497a11f6f,c0007dfcf44d23ad415a025d3af36262,2afca89994e371cb1056b0eb45687eb3,0.00,94.42,0.00
3,20180301,ed5fc9493b475813203e1c2497a11f6f,c0007dfcf44d23ad415a025d3af36262,NaN,177.79,0.00,168.89
4,20190213,ed5fc9493b475813203e1c2497a11f6f,972b514707dfa0d7ddee6cd92e0cdb6a,NaN,63.15,0.00,59.99

In [9]:
price_train.columns = ["day", "shop_id", "sku", "promo_id", "reg_price", "promo_price", "reg_card_price"]
price_train.head()

,day,shop_id,sku,promo_id,reg_price,promo_price,reg_card_price
0,20200813,ed5fc9493b475813203e1c2497a11f6f,a9e11060ef4cb84b377898ecd0f17fd4,NaN,19.89,0.00,18.89
1,20191111,ed5fc9493b475813203e1c2497a11f6f,6278f48a43fb0a23036b3a11c92e726c,NaN,56.79,0.00,53.89
2,20180301,ed5fc9493b475813203e1c2497a11f6f,c0007dfcf44d23ad415a025d3af36262,2afca89994e371cb1056b0eb45687eb3,0.00,94.42,0.00
3,20180301,ed5fc9493b475813203e1c2497a11f6f,c0007dfcf44d23ad415a025d3af36262,NaN,177.79,0.00,168.89
4,20190213,ed5fc9493b475813203e1c2497a11f6f,972b514707dfa0d7ddee6cd92e0cdb6a,NaN,63.15,0.00,59.99

In [28]:
hierarchy = pd.read_csv("C:/Users/Полина/Downloads/pricing_hackathon-20211210T173728Z-001/pricing_hackathon/pricing_hackathon_hierarchy.csv")
hierarchy.head()

,16b4bff70d409ddb77c8107a528cf94b,c4ca4238a0b923820dcc509a6f75849b,c4ca4238a0b923820dcc509a6f75849b.1,7fcc48d22804dbbe9b66b607d51389d4,7b82e428cf5bdd7671ab0f1fa285a767
0,fc6867c8b4ce831c16fa7961958270d4,c4ca4238a0b923820dcc509a6f75849b,c4ca4238a0b923820dcc509a6f75849b,2a3d6d6cc4b5e77238c1fc1bb6cdd681,ec972afde3cb8ff3e84ab57ffe32f8e4
1,1b3353cb266de9c2bcc2fc5b911973f0,c81e728d9d4c2f636f067f89cc14862c,e4da3b7fbbce2345d7772b0674a318d5,19485224d128528da1602ca47383f078,34e14de7a374ed14185fa8e81a5ebb1f
2,a3d57e327b84fb971e09b2b33c890538,c81e728d9d4c2f636f067f89cc14862c,e4da3b7fbbce2345d7772b0674a318d5,7bec7e63a493e2d61891b1e4051ef75a,556ef5548b49b2fa22f88a921feae370
3,1c71460770f458c06a29ed650c0974cc,c4ca4238a0b923820dcc509a6f75849b,c81e728d9d4c2f636f067f89cc14862c,f18a6d1cde4b205199de8729a6637b42,c4b022af0f3248bfc492f5b582d81ae8
4,ff293d986e396cffbe9f1360430a8c37,c81e728d9d4c2f636f067f89cc14862c,e4da3b7fbbce2345d7772b0674a318d5,d3614f463b2d42aba2700556d42740d0,6d2b76209c959aaace24b1cdb713ef82

In [29]:
hierarchy.columns = ["sku", "class", "group", "category", "subcategory"]
hierarchy.head()

,sku,class,group,category,subcategory
0,fc6867c8b4ce831c16fa7961958270d4,c4ca4238a0b923820dcc509a6f75849b,c4ca4238a0b923820dcc509a6f75849b,2a3d6d6cc4b5e77238c1fc1bb6cdd681,ec972afde3cb8ff3e84ab57ffe32f8e4
1,1b3353cb266de9c2bcc2fc5b911973f0,c81e728d9d4c2f636f067f89cc14862c,e4da3b7fbbce2345d7772b0674a318d5,19485224d128528da1602ca47383f078,34e14de7a374ed14185fa8e81a5ebb1f
2,a3d57e327b84fb971e09b2b33c890538,c81e728d9d4c2f636f067f89cc14862c,e4da3b7fbbce2345d7772b0674a318d5,7bec7e63a493e2d61891b1e4051ef75a,556ef5548b49b2fa22f88a921feae370
3,1c71460770f458c06a29ed650c0974cc,c4ca4238a0b923820dcc509a6f75849b,c81e728d9d4c2f636f067f89cc14862c,f18a6d1cde4b205199de8729a6637b42,c4b022af0f3248bfc492f5b582d81ae8
4,ff293d986e396cffbe9f1360430a8c37,c81e728d9d4c2f636f067f89cc14862c,e4da3b7fbbce2345d7772b0674a318d5,d3614f463b2d42aba2700556d42740d0,6d2b76209c959aaace24b1cdb713ef82

In [30]:
shops = pd.read_csv("C:/Users/Полина/Downloads/pricing_hackathon-20211210T173728Z-001/pricing_hackathon/pricing_hackathon_shops.csv")
shops.head()

,e4da3b7fbbce2345d7772b0674a318d5,c0c7c76d30bd3dcaefc96f40275bdc0a,3806734b256c27e41ec2c6bffa26d9e7,d04feef70623eaf7167f9172da8650db,1,2,1.1,2.1,1.2,1.3,0
0,e4da3b7fbbce2345d7772b0674a318d5,28dd2c7955ce926456240b2ff0100bde,1587965fb4d4b5afe8428a4a024feb0d,e3ce1e09813e3376d7ce8c7a625b2470,1,3,1,2,1,1,0
1,e4da3b7fbbce2345d7772b0674a318d5,28dd2c7955ce926456240b2ff0100bde,1587965fb4d4b5afe8428a4a024feb0d,fbc01d515dac182ba3524a3b11fdf4b2,1,3,1,2,1,1,0
2,e4da3b7fbbce2345d7772b0674a318d5,9a1158154dfa42caddbd0694a4e9bdc8,204904e461002b28511d5880e1c36a0f,028f7ee9eb0c0994a8ba1e60bcffd09e,1,4,1,2,1,1,0
3,e4da3b7fbbce2345d7772b0674a318d5,a5bfc9e07964f8dddeb95fc584cd965d,0768281a05da9f27df178b5c39a51263,898dc2c947cee718e4afd7dfcb2f1a09,1,7,1,1,1,1,0
4,e4da3b7fbbce2345d7772b0674a318d5,a5bfc9e07964f8dddeb95fc584cd965d,0768281a05da9f27df178b5c39a51263,adeb12111c95807557664efbf3b746ae,1,7,1,1,1,1,0

In [31]:
shops.columns = ["division_id", "region_id", "city_id", "shop_id", "type_loc_id", "type_size_id", "type_format_id", "type_wealth_id", "is_store", "is_active", "is_ex_billa"]
shops.head()

,division_id,region_id,city_id,shop_id,type_loc_id,type_size_id,type_format_id,type_wealth_id,is_store,is_active,is_ex_billa
0,e4da3b7fbbce2345d7772b0674a318d5,28dd2c7955ce926456240b2ff0100bde,1587965fb4d4b5afe8428a4a024feb0d,e3ce1e09813e3376d7ce8c7a625b2470,1,3,1,2,1,1,0
1,e4da3b7fbbce2345d7772b0674a318d5,28dd2c7955ce926456240b2ff0100bde,1587965fb4d4b5afe8428a4a024feb0d,fbc01d515dac182ba3524a3b11fdf4b2,1,3,1,2,1,1,0
2,e4da3b7fbbce2345d7772b0674a318d5,9a1158154dfa42caddbd0694a4e9bdc8,204904e461002b28511d5880e1c36a0f,028f7ee9eb0c0994a8ba1e60bcffd09e,1,4,1,2,1,1,0
3,e4da3b7fbbce2345d7772b0674a318d5,a5bfc9e07964f8dddeb95fc584cd965d,0768281a05da9f27df178b5c39a51263,898dc2c947cee718e4afd7dfcb2f1a09,1,7,1,1,1,1,0
4,e4da3b7fbbce2345d7772b0674a318d5,a5bfc9e07964f8dddeb95fc584cd965d,0768281a05da9f27df178b5c39a51263,adeb12111c95807557664efbf3b746ae,1,7,1,1,1,1,0

In [5]:
checks = pd.read_csv("C:/Users/Полина/Downloads/pricing_hackathon-20211210T173728Z-001/pricing_hackathon/pricing_hackathon_checks_train.csv")
checks.head()

,644474c3d41185fa4c4f427095954f06,20191017,d2ac32e14d651b9ed03f26f845a11597,f0478c7f392532b5b9843e144a31cb78,14:35:26,98f463552b07d49686c8be996251c778,7215ee9c7d9dc229d2921a40e899ec5f,004,1.000000,24.94,48.09,2.60,7e35e74e610188414ad24235dd787c78
0,644474c3d41185fa4c4f427095954f06,20191017,d2ac32e14d651b9ed03f26f845a11597,f0478c7f392532b5b9843e144a31cb78,14:35:26,b75147feae4cf8ec07fb5f2cef855def,7215ee9c7d9dc229d2921a40e899ec5f,1,1.000,1.14,3.79,0.20,7e35e74e610188414ad24235dd787c78
1,644474c3d41185fa4c4f427095954f06,20191017,d2ac32e14d651b9ed03f26f845a11597,f0478c7f392532b5b9843e144a31cb78,14:35:26,16b4bff70d409ddb77c8107a528cf94b,7215ee9c7d9dc229d2921a40e899ec5f,8,1.000,85.18,198.18,10.61,7e35e74e610188414ad24235dd787c78
2,644474c3d41185fa4c4f427095954f06,20191017,d2ac32e14d651b9ed03f26f845a11597,f0478c7f392532b5b9843e144a31cb78,14:35:26,b0fc4f923bae05bf1276315a8efae07c,7215ee9c7d9dc229d2921a40e899ec5f,3,1.000,29.17,99.99,5.30,7e35e74e610188414ad24235dd787c78
3,644474c3d41185fa4c4f427095954f06,20191017,d2ac32e14d651b9ed03f26f845a11597,f0478c7f392532b5b9843e144a31cb78,14:35:26,f0c13fc65a011d296e01626c0c2649d0,e0ceb21aca7b78a5ea6418b0c28e9c95,5,1.476,157.66,174.79,58.26,7e35e74e610188414ad24235dd787c78
4,644474c3d41185fa4c4f427095954f06,20191017,d2ac32e14d651b9ed03f26f845a11597,f0478c7f392532b5b9843e144a31cb78,14:35:26,ab17bf24039893348f6b9f23753f38ca,7215ee9c7d9dc229d2921a40e899ec5f,9,2.140,17.75,17.00,0.97,7e35e74e610188414ad24235dd787c78

In [6]:
checks.columns = ["client_id", "day", "shop_id", "check_id", "time", "sku", "promo_id", "check_pos", "num_sales", "supplier_price", "selling_price", "discount", "region_name"]
checks.head()

,client_id,day,shop_id,check_id,time,sku,promo_id,check_pos,num_sales,supplier_price,selling_price,discount,region_name
0,644474c3d41185fa4c4f427095954f06,20191017,d2ac32e14d651b9ed03f26f845a11597,f0478c7f392532b5b9843e144a31cb78,14:35:26,b75147feae4cf8ec07fb5f2cef855def,7215ee9c7d9dc229d2921a40e899ec5f,1,1.000,1.14,3.79,0.20,7e35e74e610188414ad24235dd787c78
1,644474c3d41185fa4c4f427095954f06,20191017,d2ac32e14d651b9ed03f26f845a11597,f0478c7f392532b5b9843e144a31cb78,14:35:26,16b4bff70d409ddb77c8107a528cf94b,7215ee9c7d9dc229d2921a40e899ec5f,8,1.000,85.18,198.18,10.61,7e35e74e610188414ad24235dd787c78
2,644474c3d41185fa4c4f427095954f06,20191017,d2ac32e14d651b9ed03f26f845a11597,f0478c7f392532b5b9843e144a31cb78,14:35:26,b0fc4f923bae05bf1276315a8efae07c,7215ee9c7d9dc229d2921a40e899ec5f,3,1.000,29.17,99.99,5.30,7e35e74e610188414ad24235dd787c78
3,644474c3d41185fa4c4f427095954f06,20191017,d2ac32e14d651b9ed03f26f845a11597,f0478c7f392532b5b9843e144a31cb78,14:35:26,f0c13fc65a011d296e01626c0c2649d0,e0ceb21aca7b78a5ea6418b0c28e9c95,5,1.476,157.66,174.79,58.26,7e35e74e610188414ad24235dd787c78
4,644474c3d41185fa4c4f427095954f06,20191017,d2ac32e14d651b9ed03f26f845a11597,f0478c7f392532b5b9843e144a31cb78,14:35:26,ab17bf24039893348f6b9f23753f38ca,7215ee9c7d9dc229d2921a40e899ec5f,9,2.140,17.75,17.00,0.97,7e35e74e610188414ad24235dd787c78

In [10]:
checks_prices = pd.merge(checks, price_train, how="left", left_on=["day", "shop_id", "sku", "promo_id"], right_on=["day", "shop_id", "sku", "promo_id"])
checks_prices.head()

,client_id,day,shop_id,check_id,time,sku,promo_id,check_pos,num_sales,supplier_price,selling_price,discount,region_name,reg_price,promo_price,reg_card_price
0,644474c3d41185fa4c4f427095954f06,20191017,d2ac32e14d651b9ed03f26f845a11597,f0478c7f392532b5b9843e144a31cb78,14:35:26,b75147feae4cf8ec07fb5f2cef855def,7215ee9c7d9dc229d2921a40e899ec5f,1,1.000,1.14,3.79,0.20,7e35e74e610188414ad24235dd787c78,NaN,NaN,NaN
1,644474c3d41185fa4c4f427095954f06,20191017,d2ac32e14d651b9ed03f26f845a11597,f0478c7f392532b5b9843e144a31cb78,14:35:26,16b4bff70d409ddb77c8107a528cf94b,7215ee9c7d9dc229d2921a40e899ec5f,8,1.000,85.18,198.18,10.61,7e35e74e610188414ad24235dd787c78,NaN,NaN,NaN
2,644474c3d41185fa4c4f427095954f06,20191017,d2ac32e14d651b9ed03f26f845a11597,f0478c7f392532b5b9843e144a31cb78,14:35:26,b0fc4f923bae05bf1276315a8efae07c,7215ee9c7d9dc229d2921a40e899ec5f,3,1.000,29.17,99.99,5.30,7e35e74e610188414ad24235dd787c78,NaN,NaN,NaN
3,644474c3d41185fa4c4f427095954f06,20191017,d2ac32e14d651b9ed03f26f845a11597,f0478c7f392532b5b9843e144a31cb78,14:35:26,f0c13fc65a011d296e01626c0c2649d0,e0ceb21aca7b78a5ea6418b0c28e9c95,5,1.476,157.66,174.79,58.26,7e35e74e610188414ad24235dd787c78,NaN,NaN,NaN
4,644474c3d41185fa4c4f427095954f06,20191017,d2ac32e14d651b9ed03f26f845a11597,f0478c7f392532b5b9843e144a31cb78,14:35:26,ab17bf24039893348f6b9f23753f38ca,7215ee9c7d9dc229d2921a40e899ec5f,9,2.140,17.75,17.00,0.97,7e35e74e610188414ad24235dd787c78,NaN,NaN,NaN

In [11]:
checks_prices.count()

client_id         21701356
day               21701356
shop_id           21701356
check_id          21701356
time              21701356
sku               21701356
promo_id          21701356
check_pos         21701356
num_sales         21701356
supplier_price    21701356
selling_price     21701356
discount          21701356
region_name       21701356
reg_price          9413752
promo_price        9413752
reg_card_price     9413752
dtype: int64

In [12]:
checks_prices["region_name"].unique()

array(['7e35e74e610188414ad24235dd787c78'], dtype=object)

In [17]:
checks_prices = pd.merge(checks_prices, shops, left_on='shop_id', right_on='shop_id')
checks_prices.head()

,client_id,day,shop_id,check_id,time,sku,promo_id,check_pos,num_sales,supplier_price,...,division_id,region_id,city_id,type_loc_id,type_size_id,type_format_id,type_wealth_id,is_store,is_active,is_ex_billa
0,644474c3d41185fa4c4f427095954f06,20191017,d2ac32e14d651b9ed03f26f845a11597,f0478c7f392532b5b9843e144a31cb78,14:35:26,b75147feae4cf8ec07fb5f2cef855def,7215ee9c7d9dc229d2921a40e899ec5f,1,1.000,1.14,...,e4da3b7fbbce2345d7772b0674a318d5,44f683a84163b3523afe57c2e008bc8c,b8c37e33defde51cf91e1e03e51657da,2,6,1,1,1,1,0
1,644474c3d41185fa4c4f427095954f06,20191017,d2ac32e14d651b9ed03f26f845a11597,f0478c7f392532b5b9843e144a31cb78,14:35:26,16b4bff70d409ddb77c8107a528cf94b,7215ee9c7d9dc229d2921a40e899ec5f,8,1.000,85.18,...,e4da3b7fbbce2345d7772b0674a318d5,44f683a84163b3523afe57c2e008bc8c,b8c37e33defde51cf91e1e03e51657da,2,6,1,1,1,1,0
2,644474c3d41185fa4c4f427095954f06,20191017,d2ac32e14d651b9ed03f26f845a11597,f0478c7f392532b5b9843e144a31cb78,14:35:26,b0fc4f923bae05bf1276315a8efae07c,7215ee9c7d9dc229d2921a40e899ec5f,3,1.000,29.17,...,e4da3b7fbbce2345d7772b0674a318d5,44f683a84163b3523afe57c2e008bc8c,b8c37e33defde51cf91e1e03e51657da,2,6,1,1,1,1,0
3,644474c3d41185fa4c4f427095954f06,20191017,d2ac32e14d651b9ed03f26f845a11597,f0478c7f392532b5b9843e144a31cb78,14:35:26,f0c13fc65a011d296e01626c0c2649d0,e0ceb21aca7b78a5ea6418b0c28e9c95,5,1.476,157.66,...,e4da3b7fbbce2345d7772b0674a318d5,44f683a84163b3523afe57c2e008bc8c,b8c37e33defde51cf91e1e03e51657da,2,6,1,1,1,1,0
4,644474c3d41185fa4c4f427095954f06,20191017,d2ac32e14d651b9ed03f26f845a11597,f0478c7f392532b5b9843e144a31cb78,14:35:26,ab17bf24039893348f6b9f23753f38ca,7215ee9c7d9dc229d2921a40e899ec5f,9,2.140,17.75,...,e4da3b7fbbce2345d7772b0674a318d5,44f683a84163b3523afe57c2e008bc8c,b8c37e33defde51cf91e1e03e51657da,2,6,1,1,1,1,0

In [21]:
checks_prices = pd.merge(checks_prices, hierarchy, left_on='sku', right_on='sku')
checks_prices.head()

,client_id,day,shop_id,check_id,time,sku,promo_id,check_pos,num_sales,supplier_price,...,type_size_id,type_format_id,type_wealth_id,is_store,is_active,is_ex_billa,class,group,category,subcategory
0,644474c3d41185fa4c4f427095954f06,20191017,d2ac32e14d651b9ed03f26f845a11597,f0478c7f392532b5b9843e144a31cb78,14:35:26,b75147feae4cf8ec07fb5f2cef855def,7215ee9c7d9dc229d2921a40e899ec5f,1,1.0,1.14,...,6,1,1,1,1,0,c81e728d9d4c2f636f067f89cc14862c,e4da3b7fbbce2345d7772b0674a318d5,bd3ef5c19067fe179f71c8b86ea4b39b,5bf563e8f99ed820f322704e4898df6b
1,6ff1c42e6abdbab97ea1ab2bd553b395,20191017,d2ac32e14d651b9ed03f26f845a11597,dbbc347c1a622430ff9b445467e84374,13:17:09,b75147feae4cf8ec07fb5f2cef855def,7215ee9c7d9dc229d2921a40e899ec5f,5,2.0,2.29,...,6,1,1,1,1,0,c81e728d9d4c2f636f067f89cc14862c,e4da3b7fbbce2345d7772b0674a318d5,bd3ef5c19067fe179f71c8b86ea4b39b,5bf563e8f99ed820f322704e4898df6b
2,fd92c21fc54746faf0c17239b10de1a7,20191017,d2ac32e14d651b9ed03f26f845a11597,b693da0acb4959155bd60f1c999e1bab,14:52:41,b75147feae4cf8ec07fb5f2cef855def,7215ee9c7d9dc229d2921a40e899ec5f,3,1.0,1.14,...,6,1,1,1,1,0,c81e728d9d4c2f636f067f89cc14862c,e4da3b7fbbce2345d7772b0674a318d5,bd3ef5c19067fe179f71c8b86ea4b39b,5bf563e8f99ed820f322704e4898df6b
3,65b6f23e5cefb81209107ddef8f7753e,20191017,d2ac32e14d651b9ed03f26f845a11597,432906110a5ef59d53c5a24a91e645da,15:47:05,b75147feae4cf8ec07fb5f2cef855def,7215ee9c7d9dc229d2921a40e899ec5f,1,1.0,1.14,...,6,1,1,1,1,0,c81e728d9d4c2f636f067f89cc14862c,e4da3b7fbbce2345d7772b0674a318d5,bd3ef5c19067fe179f71c8b86ea4b39b,5bf563e8f99ed820f322704e4898df6b
4,a4959cebb68ac233df70be74fd71de5d,20191017,d2ac32e14d651b9ed03f26f845a11597,4dbd952698a402d94c38aa1abffa3f86,19:12:45,b75147feae4cf8ec07fb5f2cef855def,7215ee9c7d9dc229d2921a40e899ec5f,1,1.0,1.14,...,6,1,1,1,1,0,c81e728d9d4c2f636f067f89cc14862c,e4da3b7fbbce2345d7772b0674a318d5,bd3ef5c19067fe179f71c8b86ea4b39b,5bf563e8f99ed820f322704e4898df6b

In [ ]:
checks_prices.to_csv("C:/Users/Полина/Downloads/pricing_hackathon-20211210T173728Z-001/pricing_hackathon/pricing_hackathon_checks_prices.csv")

In [12]:
dataset = pd.read_csv("C:/Users/Полина/Downloads/pricing_hackathon-20211210T173728Z-001/pricing_hackathon/pricing_hackathon_checks_prices.csv")
dataset.head()

,Unnamed: 0,Unnamed: 0.1,client_id,day,shop_id,check_id,time,sku,promo_id,check_pos,...,type_size_id,type_format_id,type_wealth_id,is_store,is_active,is_ex_billa,class,group,category,subcategory
0,0,0,644474c3d41185fa4c4f427095954f06,2019-10-17,d2ac32e14d651b9ed03f26f845a11597,f0478c7f392532b5b9843e144a31cb78,14:35:26,b75147feae4cf8ec07fb5f2cef855def,7215ee9c7d9dc229d2921a40e899ec5f,1,...,6,1,1,1,1,0,c81e728d9d4c2f636f067f89cc14862c,e4da3b7fbbce2345d7772b0674a318d5,bd3ef5c19067fe179f71c8b86ea4b39b,5bf563e8f99ed820f322704e4898df6b
1,1,32,6ff1c42e6abdbab97ea1ab2bd553b395,2019-10-17,d2ac32e14d651b9ed03f26f845a11597,dbbc347c1a622430ff9b445467e84374,13:17:09,b75147feae4cf8ec07fb5f2cef855def,7215ee9c7d9dc229d2921a40e899ec5f,5,...,6,1,1,1,1,0,c81e728d9d4c2f636f067f89cc14862c,e4da3b7fbbce2345d7772b0674a318d5,bd3ef5c19067fe179f71c8b86ea4b39b,5bf563e8f99ed820f322704e4898df6b
2,2,47,fd92c21fc54746faf0c17239b10de1a7,2019-10-17,d2ac32e14d651b9ed03f26f845a11597,b693da0acb4959155bd60f1c999e1bab,14:52:41,b75147feae4cf8ec07fb5f2cef855def,7215ee9c7d9dc229d2921a40e899ec5f,3,...,6,1,1,1,1,0,c81e728d9d4c2f636f067f89cc14862c,e4da3b7fbbce2345d7772b0674a318d5,bd3ef5c19067fe179f71c8b86ea4b39b,5bf563e8f99ed820f322704e4898df6b
3,3,70,65b6f23e5cefb81209107ddef8f7753e,2019-10-17,d2ac32e14d651b9ed03f26f845a11597,432906110a5ef59d53c5a24a91e645da,15:47:05,b75147feae4cf8ec07fb5f2cef855def,7215ee9c7d9dc229d2921a40e899ec5f,1,...,6,1,1,1,1,0,c81e728d9d4c2f636f067f89cc14862c,e4da3b7fbbce2345d7772b0674a318d5,bd3ef5c19067fe179f71c8b86ea4b39b,5bf563e8f99ed820f322704e4898df6b
4,4,84,a4959cebb68ac233df70be74fd71de5d,2019-10-17,d2ac32e14d651b9ed03f26f845a11597,4dbd952698a402d94c38aa1abffa3f86,19:12:45,b75147feae4cf8ec07fb5f2cef855def,7215ee9c7d9dc229d2921a40e899ec5f,1,...,6,1,1,1,1,0,c81e728d9d4c2f636f067f89cc14862c,e4da3b7fbbce2345d7772b0674a318d5,bd3ef5c19067fe179f71c8b86ea4b39b,5bf563e8f99ed820f322704e4898df6b

In [13]:
dataset = dataset.drop(columns=["Unnamed: 0", "Unnamed: 0.1"], axis=1)
dataset.head()

,client_id,day,shop_id,check_id,time,sku,promo_id,check_pos,num_sales,supplier_price,...,type_size_id,type_format_id,type_wealth_id,is_store,is_active,is_ex_billa,class,group,category,subcategory
0,644474c3d41185fa4c4f427095954f06,2019-10-17,d2ac32e14d651b9ed03f26f845a11597,f0478c7f392532b5b9843e144a31cb78,14:35:26,b75147feae4cf8ec07fb5f2cef855def,7215ee9c7d9dc229d2921a40e899ec5f,1,1.0,1.14,...,6,1,1,1,1,0,c81e728d9d4c2f636f067f89cc14862c,e4da3b7fbbce2345d7772b0674a318d5,bd3ef5c19067fe179f71c8b86ea4b39b,5bf563e8f99ed820f322704e4898df6b
1,6ff1c42e6abdbab97ea1ab2bd553b395,2019-10-17,d2ac32e14d651b9ed03f26f845a11597,dbbc347c1a622430ff9b445467e84374,13:17:09,b75147feae4cf8ec07fb5f2cef855def,7215ee9c7d9dc229d2921a40e899ec5f,5,2.0,2.29,...,6,1,1,1,1,0,c81e728d9d4c2f636f067f89cc14862c,e4da3b7fbbce2345d7772b0674a318d5,bd3ef5c19067fe179f71c8b86ea4b39b,5bf563e8f99ed820f322704e4898df6b
2,fd92c21fc54746faf0c17239b10de1a7,2019-10-17,d2ac32e14d651b9ed03f26f845a11597,b693da0acb4959155bd60f1c999e1bab,14:52:41,b75147feae4cf8ec07fb5f2cef855def,7215ee9c7d9dc229d2921a40e899ec5f,3,1.0,1.14,...,6,1,1,1,1,0,c81e728d9d4c2f636f067f89cc14862c,e4da3b7fbbce2345d7772b0674a318d5,bd3ef5c19067fe179f71c8b86ea4b39b,5bf563e8f99ed820f322704e4898df6b
3,65b6f23e5cefb81209107ddef8f7753e,2019-10-17,d2ac32e14d651b9ed03f26f845a11597,432906110a5ef59d53c5a24a91e645da,15:47:05,b75147feae4cf8ec07fb5f2cef855def,7215ee9c7d9dc229d2921a40e899ec5f,1,1.0,1.14,...,6,1,1,1,1,0,c81e728d9d4c2f636f067f89cc14862c,e4da3b7fbbce2345d7772b0674a318d5,bd3ef5c19067fe179f71c8b86ea4b39b,5bf563e8f99ed820f322704e4898df6b
4,a4959cebb68ac233df70be74fd71de5d,2019-10-17,d2ac32e14d651b9ed03f26f845a11597,4dbd952698a402d94c38aa1abffa3f86,19:12:45,b75147feae4cf8ec07fb5f2cef855def,7215ee9c7d9dc229d2921a40e899ec5f,1,1.0,1.14,...,6,1,1,1,1,0,c81e728d9d4c2f636f067f89cc14862c,e4da3b7fbbce2345d7772b0674a318d5,bd3ef5c19067fe179f71c8b86ea4b39b,5bf563e8f99ed820f322704e4898df6b

In [5]:
dataset.columns

Index(['client_id', 'day', 'shop_id', 'check_id', 'time', 'sku', 'promo_id',
       'check_pos', 'num_sales', 'supplier_price', 'selling_price', 'discount',
       'region_name', 'reg_price', 'promo_price', 'reg_card_price',
       'division_id', 'region_id', 'city_id', 'type_loc_id', 'type_size_id',
       'type_format_id', 'type_wealth_id', 'is_store', 'is_active',
       'is_ex_billa', 'class', 'group', 'category', 'subcategory'],
      dtype='object')

In [14]:
dataset = dataset.drop(columns=["client_id", "time", "region_name", "is_ex_billa", "is_store", "division_id", "region_id", 'reg_price', 'promo_price', 'reg_card_price' ], axis=1)
dataset.head()

,day,shop_id,check_id,sku,promo_id,check_pos,num_sales,supplier_price,selling_price,discount,city_id,type_loc_id,type_size_id,type_format_id,type_wealth_id,is_active,class,group,category,subcategory
0,2019-10-17,d2ac32e14d651b9ed03f26f845a11597,f0478c7f392532b5b9843e144a31cb78,b75147feae4cf8ec07fb5f2cef855def,7215ee9c7d9dc229d2921a40e899ec5f,1,1.0,1.14,3.79,0.2,b8c37e33defde51cf91e1e03e51657da,2,6,1,1,1,c81e728d9d4c2f636f067f89cc14862c,e4da3b7fbbce2345d7772b0674a318d5,bd3ef5c19067fe179f71c8b86ea4b39b,5bf563e8f99ed820f322704e4898df6b
1,2019-10-17,d2ac32e14d651b9ed03f26f845a11597,dbbc347c1a622430ff9b445467e84374,b75147feae4cf8ec07fb5f2cef855def,7215ee9c7d9dc229d2921a40e899ec5f,5,2.0,2.29,7.58,0.4,b8c37e33defde51cf91e1e03e51657da,2,6,1,1,1,c81e728d9d4c2f636f067f89cc14862c,e4da3b7fbbce2345d7772b0674a318d5,bd3ef5c19067fe179f71c8b86ea4b39b,5bf563e8f99ed820f322704e4898df6b
2,2019-10-17,d2ac32e14d651b9ed03f26f845a11597,b693da0acb4959155bd60f1c999e1bab,b75147feae4cf8ec07fb5f2cef855def,7215ee9c7d9dc229d2921a40e899ec5f,3,1.0,1.14,3.79,0.2,b8c37e33defde51cf91e1e03e51657da,2,6,1,1,1,c81e728d9d4c2f636f067f89cc14862c,e4da3b7fbbce2345d7772b0674a318d5,bd3ef5c19067fe179f71c8b86ea4b39b,5bf563e8f99ed820f322704e4898df6b
3,2019-10-17,d2ac32e14d651b9ed03f26f845a11597,432906110a5ef59d53c5a24a91e645da,b75147feae4cf8ec07fb5f2cef855def,7215ee9c7d9dc229d2921a40e899ec5f,1,1.0,1.14,3.79,0.2,b8c37e33defde51cf91e1e03e51657da,2,6,1,1,1,c81e728d9d4c2f636f067f89cc14862c,e4da3b7fbbce2345d7772b0674a318d5,bd3ef5c19067fe179f71c8b86ea4b39b,5bf563e8f99ed820f322704e4898df6b
4,2019-10-17,d2ac32e14d651b9ed03f26f845a11597,4dbd952698a402d94c38aa1abffa3f86,b75147feae4cf8ec07fb5f2cef855def,7215ee9c7d9dc229d2921a40e899ec5f,1,1.0,1.14,3.79,0.2,b8c37e33defde51cf91e1e03e51657da,2,6,1,1,1,c81e728d9d4c2f636f067f89cc14862c,e4da3b7fbbce2345d7772b0674a318d5,bd3ef5c19067fe179f71c8b86ea4b39b,5bf563e8f99ed820f322704e4898df6b

In [20]:
encoder = LabelEncoder()
for column in dataset:
    if column in ["day", "shop_id", "check_id", "sku", "promo_id", "city_id", "class", "group", "category", "subcategory"]:
        dataset[column] = encoder.fit_transform(dataset[column])
dataset.head()

,day,shop_id,check_id,sku,promo_id,check_pos,num_sales,supplier_price,selling_price,discount,city_id,type_loc_id,type_size_id,type_format_id,type_wealth_id,is_active,class,group,category,subcategory
0,654,44,2038196,82211,121227,1,1.0,1.14,3.79,0.2,13,2,6,1,1,1,1,3,314,734
1,654,44,1863780,82211,121227,5,2.0,2.29,7.58,0.4,13,2,6,1,1,1,1,3,314,734
2,654,44,1547191,82211,121227,3,1.0,1.14,3.79,0.2,13,2,6,1,1,1,1,3,314,734
3,654,44,569284,82211,121227,1,1.0,1.14,3.79,0.2,13,2,6,1,1,1,1,3,314,734
4,654,44,658898,82211,121227,1,1.0,1.14,3.79,0.2,13,2,6,1,1,1,1,3,314,734

In [21]:
dataset_sample = dataset.sample(50000)
dataset_sample2 = dataset.sample(50000)
y_train = dataset_sample["num_sales"]
x_train = dataset_sample.drop(columns=["num_sales", "check_pos"], axis=1)
y_test = dataset_sample2["num_sales"]
x_test = dataset_sample2.drop(columns=["num_sales", "check_pos"], axis=1)

In [22]:
estimators_list = [250]
scores = {}

for estimators in estimators_list:
    start_time = datetime.datetime.now()
    gradient_boost = GBR(max_depth=5, n_estimators=estimators, learning_rate=1.0)
    gradient_boost.fit(x_train, y_train)
    y_predict = gradient_boost.predict(x_test)
    MSE = mean_squared_error(y_predict, y_test)
    scores[estimators] = MSE
    
    print("R2 :", r2_score(y_test, y_predict))
    print("MSE n =", estimators, MSE)
    print(f"Time elapsed: {datetime.datetime.now() - start_time}")

R2 : 0.24522498601649567
MSE n = 250 2.434072423371346
Time elapsed: 0:00:41.547055

In [23]:
def wape(y_true: np.array, y_pred: np.array):
    return np.sum(np.abs(y_true - y_pred)) / np.sum(np.abs(y_true))
print(wape(y_test, y_predict))

0.3436320108609685

In [43]:
test_set = pd.read_csv("C:/Users/Полина/Downloads/pricing_hackathon-20211210T173728Z-001/pricing_hackathon/pricing_hackathon_checks_test.csv")
test_set.head()

,cb32e4946ddddad457221f9f66709168,20211025,6cb9669ff7bbb140212081ccb0f68543,e3bfbc5ed0cc52ebb6a8354dd48134eb,22:25:37,a7f8f533c4f62b8220b6493fef3f5191,9afa17bdb2b819a7d795533045c9c2db,64.84,86.26,28.72,7e35e74e610188414ad24235dd787c78
0,cb32e4946ddddad457221f9f66709168,20211025,6cb9669ff7bbb140212081ccb0f68543,d8fc54c24b01b8eec0bd790d38fcb3a2,21:25:01,1119d0da7586ec0862aa53521d6a2a62,7dc93b050e25b6990eb7131db59c3a8f,8.80,0.00,51.59,7e35e74e610188414ad24235dd787c78
1,cb32e4946ddddad457221f9f66709168,20211025,6cb9669ff7bbb140212081ccb0f68543,d8fc54c24b01b8eec0bd790d38fcb3a2,21:25:01,ea88c10b723965c08ab2d54ef53786ac,19121bbfaa43e1f6d552bfe1212ee9a7,384.60,599.00,347.39,7e35e74e610188414ad24235dd787c78
2,cb32e4946ddddad457221f9f66709168,20211025,6cb9669ff7bbb140212081ccb0f68543,e3bfbc5ed0cc52ebb6a8354dd48134eb,22:25:37,1cbaaeb2212bbbe9d458ca9b81d74db7,07ed162d36d637a07cf5205962b6b73a,28.68,41.27,23.95,7e35e74e610188414ad24235dd787c78
3,cb32e4946ddddad457221f9f66709168,20211025,6cb9669ff7bbb140212081ccb0f68543,e3bfbc5ed0cc52ebb6a8354dd48134eb,22:25:37,b75147feae4cf8ec07fb5f2cef855def,7215ee9c7d9dc229d2921a40e899ec5f,1.47,5.49,0.30,7e35e74e610188414ad24235dd787c78
4,cb32e4946ddddad457221f9f66709168,20211025,6cb9669ff7bbb140212081ccb0f68543,e3bfbc5ed0cc52ebb6a8354dd48134eb,22:25:37,4c17203530f5edf7c00d1b9dc5532680,95c52417a314fb5356b3e1607a784811,1659.65,1449.11,883.58,7e35e74e610188414ad24235dd787c78

In [44]:
test_set.columns = ["client_id", "day", "shop_id", "check_id", "time", "sku", "promo_id", "supplier_price", "selling_price", "discount", "region_name"]
test_set.head()

,client_id,day,shop_id,check_id,time,sku,promo_id,supplier_price,selling_price,discount,region_name
0,cb32e4946ddddad457221f9f66709168,20211025,6cb9669ff7bbb140212081ccb0f68543,d8fc54c24b01b8eec0bd790d38fcb3a2,21:25:01,1119d0da7586ec0862aa53521d6a2a62,7dc93b050e25b6990eb7131db59c3a8f,8.80,0.00,51.59,7e35e74e610188414ad24235dd787c78
1,cb32e4946ddddad457221f9f66709168,20211025,6cb9669ff7bbb140212081ccb0f68543,d8fc54c24b01b8eec0bd790d38fcb3a2,21:25:01,ea88c10b723965c08ab2d54ef53786ac,19121bbfaa43e1f6d552bfe1212ee9a7,384.60,599.00,347.39,7e35e74e610188414ad24235dd787c78
2,cb32e4946ddddad457221f9f66709168,20211025,6cb9669ff7bbb140212081ccb0f68543,e3bfbc5ed0cc52ebb6a8354dd48134eb,22:25:37,1cbaaeb2212bbbe9d458ca9b81d74db7,07ed162d36d637a07cf5205962b6b73a,28.68,41.27,23.95,7e35e74e610188414ad24235dd787c78
3,cb32e4946ddddad457221f9f66709168,20211025,6cb9669ff7bbb140212081ccb0f68543,e3bfbc5ed0cc52ebb6a8354dd48134eb,22:25:37,b75147feae4cf8ec07fb5f2cef855def,7215ee9c7d9dc229d2921a40e899ec5f,1.47,5.49,0.30,7e35e74e610188414ad24235dd787c78
4,cb32e4946ddddad457221f9f66709168,20211025,6cb9669ff7bbb140212081ccb0f68543,e3bfbc5ed0cc52ebb6a8354dd48134eb,22:25:37,4c17203530f5edf7c00d1b9dc5532680,95c52417a314fb5356b3e1607a784811,1659.65,1449.11,883.58,7e35e74e610188414ad24235dd787c78

In [45]:
test_set = pd.merge(test_set, hierarchy, left_on='sku', right_on='sku')
test_set = pd.merge(test_set, shops, left_on='shop_id', right_on='shop_id')
test_set.head()
day	shop_id	check_id	sku	promo_id	check_pos	num_sales	supplier_price	selling_price	discount	city_id	type_loc_id	type_size_id	type_format_id	type_wealth_id	is_active	class	group	category	subcategory

,client_id,day,shop_id,check_id,time,sku,promo_id,supplier_price,selling_price,discount,...,division_id,region_id,city_id,type_loc_id,type_size_id,type_format_id,type_wealth_id,is_store,is_active,is_ex_billa
0,cb32e4946ddddad457221f9f66709168,20211025,6cb9669ff7bbb140212081ccb0f68543,d8fc54c24b01b8eec0bd790d38fcb3a2,21:25:01,1119d0da7586ec0862aa53521d6a2a62,7dc93b050e25b6990eb7131db59c3a8f,8.8,0.0,51.59,...,e4da3b7fbbce2345d7772b0674a318d5,d9d4f495e875a2e075a1a4a6e1b9770f,08fe2621d8e716b02ec0da35256a998d,1,8,1,1,1,1,0
1,cb32e4946ddddad457221f9f66709168,20211025,6cb9669ff7bbb140212081ccb0f68543,e3bfbc5ed0cc52ebb6a8354dd48134eb,22:25:37,1119d0da7586ec0862aa53521d6a2a62,7dc93b050e25b6990eb7131db59c3a8f,8.8,0.0,51.59,...,e4da3b7fbbce2345d7772b0674a318d5,d9d4f495e875a2e075a1a4a6e1b9770f,08fe2621d8e716b02ec0da35256a998d,1,8,1,1,1,1,0
2,5daaf480a3ad9e765b8fbb4d98a802a6,20211025,6cb9669ff7bbb140212081ccb0f68543,b34b6cb0045ca596002d846110e9c2a9,12:46:51,1119d0da7586ec0862aa53521d6a2a62,7dc93b050e25b6990eb7131db59c3a8f,8.8,0.0,51.59,...,e4da3b7fbbce2345d7772b0674a318d5,d9d4f495e875a2e075a1a4a6e1b9770f,08fe2621d8e716b02ec0da35256a998d,1,8,1,1,1,1,0
3,28b43f8802f9fef92b6df2037ba8cd50,20211025,6cb9669ff7bbb140212081ccb0f68543,4d461ed219f5f2903ee747418d2b0100,18:38:54,1119d0da7586ec0862aa53521d6a2a62,7dc93b050e25b6990eb7131db59c3a8f,44.0,0.0,257.95,...,e4da3b7fbbce2345d7772b0674a318d5,d9d4f495e875a2e075a1a4a6e1b9770f,08fe2621d8e716b02ec0da35256a998d,1,8,1,1,1,1,0
4,6314e1a63c14985850fd2149f98befba,20211025,6cb9669ff7bbb140212081ccb0f68543,e858d037764822b0b0030d62a41f2141,19:12:12,1119d0da7586ec0862aa53521d6a2a62,3ea9c3add62b06c541fd7d42b117a145,8.8,0.0,51.59,...,e4da3b7fbbce2345d7772b0674a318d5,d9d4f495e875a2e075a1a4a6e1b9770f,08fe2621d8e716b02ec0da35256a998d,1,8,1,1,1,1,0

In [ ]:
test_set = test_set.drop(columns=["client_id", "time", "region_name", "is_ex_billa", "is_store", "division_id", "region_id"], axis=1)

In [ ]:
test_set.head()

In [ ]:
test_set = test_set.drop(columns=["is_ex_billa", "is_store", "division_id", "region_id"], axis=1)

In [ ]:
test_set.head()

In [ ]:
encoder = LabelEncoder()
for column in test_set:
    if column in ["day", "shop_id", "check_id", "sku", "promo_id"]:
        test_set[column] = encoder.fit_transform(test_set[column])
test_set.head()

In [ ]:
x_test = test_set
y_predict = gradient_boost.predict(x_test)
MSE = mean_squared_error(y_predict, y_test)
r2 = r2_score(y_test, y_predict)
print("R2 :", r2)
print("MSE :", MSE)